<section id="bio">
  <section id="img-wrapper">
    <img src="{{site.data.author.dp | absolute_url}}" alt="" />
  </section>
  <section id="bio-wrapper">
    <div id="text-wrapper">
      <p>{{site.data.author.description}}</p>
    </div>
    <div id="social-wrapper">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" target="_blank">
        <img src="{{'/assets/icons/' | absolute_url}}{{i.title}}.png" alt="" />
      </a>
      {%endfor%}
    </div>
  </section>
</section>
