<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if site.favicon %}
  <link rel="icon" href="{{site.favicon | absolute_url}}" />
  {% endif %}
  {% if page.layout == "front" %}
  <link rel="stylesheet" href="{{'/assets/css/front.css' | absolute_url}}" />
  {% elsif page.layout == "blog" %}
  <link rel="stylesheet" href="{{'/assets/css/blog.css' | absolute_url}}" />
  {% else %}
  <link rel="stylesheet" href="{{'/assets/css/article.css' | absolute_url}}" />
  {% endif %}
  <link rel="stylesheet" href="{{'/assets/css/syntax.css' | absolute_url}}" />
  <link rel="stylesheet" href="{{'/assets/css/common.css' | absolute_url}}" />
  {% feed_meta %}
  {% seo %}
  <script src="{{'/assets/js/categories.js' | absolute_url}}"></script>
  <script defer src="{{'/assets/js/lbox.js' | absolute_url}}"></script>
</head>