main {
  padding-bottom: 4rem;
}

#article {
  margin-bottom: 3rem;
  
  & .article-header {
    margin-bottom: 3rem;

    & .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    
      & .category {
        margin: 0 0.5rem 0 0;
        display: block;
        color: var(--gray-4);
        background: var(--white-2);
        border-radius: 15px;
        font-size: 0.7rem;
        padding: 0 0.8rem;
        line-height: 1.3rem;
        cursor: pointer;
      }
    }
  }
  
  & .article-title {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
    line-height: 140%;
  }

  & .date {
    display: block;
    font-size: 0.8rem;
  }

  /* content */

  .content {
    & a {
      color: cyan;
      border-bottom: 1px solid cyan;

      &:hover {
        border-bottom: none;
      }
    }
    
    /* markdown content */
    
    & * {
      line-height: 180%;
    }
    & p {
      margin: 0 0 1.75rem 0;
      padding: 0;
    }
    
    & h1 {
      font-size: 2rem;
    }
    & h2 {
      font-size: 1.8rem;
    }
    & h3 {
      font-size: 1.6rem;
    }
    & h4 {
      font-size: 1.4rem;
    }
    & h5 {
      font-size: 1.2rem;
    }
    & h6 {
      font-size: 1rem;
    }
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      margin: 1.75rem 0;
    }
    
    & blockquote {
      padding-left: 1.42188rem;
      margin-bottom: 1.75rem;
      font-style: italic;
      font-weight: 100;
      border-left: 0.3rem solid var(--white-2);
    }
    & strong {
      font-weight: bold;
    }
    
    & ul {
      margin-left: 1rem;
      margin-bottom: 1.75rem;
    }
    & ol {
      margin-left: 1.75rem;
      margin-bottom: 1.75rem;
    }
    & ol * ol,
    & ul * ul {
      margin-left: 1rem;
      margin-bottom: 0;
    }
    
    & table {
      width: 100%;
      max-width: 100%;
      margin: 1rem 0;
      border-collapse: collapse;
    
      & th {
        background-color: var(--gray-3);
        color: var(--white-2);
        border: 1px solid var(--gray-5);
      }
      & * {
        border: 1px solid var(--gray-3);
        padding: 0.2rem;
      }
    }
    
    & img {
      max-width: 100%;
      margin: 1rem 0;
    
      &.emoji {
        margin: 0 !important;
      }
    }
    
    /* pre , code */
    &,
    & div,
    & div pre,
    & div pre code {
      overflow-x: auto !important;
    }
    
    & pre {
      background: var(--gray-3) !important;
      padding: 1rem 2rem;
      margin-bottom: 1.75rem;
    }
    
    & code {
      padding: 3px 5px;
      color: var(--white-2);
      white-space: pre;
      background-color: var(--gray-3);
    }
    
    & img {
      cursor: zoom-in;
    }
  }
}

/* lbox */

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }
}
