#articles {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 3rem;
  
  & .article {
    padding: 2rem;
    background: var(--gray-3);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    & .article-title,
    & .article-title a {
      color: var(--white-2);
      font-weight: 100;
      font-style: italic;
      font-size: 1.4rem;
      line-height: 130%;
    }
  
    & .date {
      display: block;
      font-size: 0.8rem;
    }

    & .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
  
      & .category {
        margin: 0 0.5rem 0.3rem 0;
        display: block;
        color: var(--gray-4);
        background: var(--white-2);
        border-radius: 15px;
        font-size: 0.7rem;
        padding: 0 0.8rem;
        line-height: 1.3rem;
        cursor: pointer;
      }
    }

    & .article-excerpt {
      margin-top: 1rem;
    }
  }
}
  
/* media query */
  
@media screen and (max-width: 550px) {
  #articles {
    row-gap: 1.2rem;
  }
}
  
@media screen and (max-width: 350px) {
  main,
  #articles {
    padding: 0;
    margin: 0;
  }
  main {
    padding-bottom: 1rem;
  }
  #articles {
    margin: 2rem 0 3rem 0;
    row-gap: 1.2rem;

    & .article {
      padding: 1.2rem;
  
      & .article-title,
      & .article-title a {
        font-size: 1rem;
      }
    }
  }
}
